@model WebInstitoTurismo.Models.CATALOGO_HOTEL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CATALOGO_HOTEL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VALIDACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALIDACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPRESA.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPRESA.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERVICIO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVICIO.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
