@model WebInstitoTurismo.Models.EMPRESA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APROBADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APROBADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGION.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGION.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_EMPRESA.TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_EMPRESA.TIPO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
